// Responsive Grid
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// Swabs

@mixin main-color($color) {
  background: $color;
}

@mixin lighten($color) {
  background: lighten($color, 20%);
}

@mixin darken($color) {
  background: darken($color, 20%);
}

@mixin mix-color($color-a, $color-b) {
  background: mix($color-a, $color-b, $weight:65%);
}

%basic-div {
  width: 100%;
  height: 100px;
  margin: 2px;
}

%mix-div {
  width: 100%;
  height: 25px;
  margin: 2px;
}

%tint-swab-height {
  height: 100%;
  padding: 0;
}
