// grid variables
$grid-columns: 12;
$grid-max-width: 65em;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";


// Base colors
$color1: #D8F5E8;
$color2: #2ACCC3;
$color3: #FFBC17;
$color4: #FF623F;

$colors: $color1, $color2, $color3, $color4;
